    <h1>My First Angular App</h1>
    <section>
        <child-app></child-app>
        <p>------------------------------------------------------------------</p>
    </section>
    <section>
        <h2>显示数据</h2>
        <display-data></display-data>
        <p>------------------------------------------------------------------</p>
    </section>
    <section>
        <h2>表单</h2>
        <hero-form></hero-form>
        <p>------------------------------------------------------------------</p>
    </section>
    <section>
        <mission-control></mission-control>
        <p>------------------------------------------------------------------</p>
    </section>
    <section>
        <h2>toh-heroes共享特性模块</h2>
        <toh-heroes></toh-heroes>
        <p>------------------------------------------------------------------</p>
    </section>
    <section>
        <h2>核心特性模块</h2>
        <h2>toh-nav</h2>
        <toh-nav></toh-nav>
        <h2>toh-spinner</h2>
        <toh-spinner></toh-spinner>
    </section>